<li class="workplace transition">
    <p class="workplace-name">
        Server
    </p>
    <div class="work-info">
        <p>
            Spring boot, Rest, JPA
        </p>
        <p class="work-sub-info">
            Mcare Pay Cloud
        </p>
    </div>
</li>

<li class="workplace transition">
    <p class="workplace-name">
        DevOps
    </p>
    <div class="work-info">
        <p>
            Jira/Confleunce, Git, Nexus, Jenkins, Kuberetes, Docker
        </p>
        <p class="work-sub-info">
            Responsible Operator
        </p>
    </div>
</li>

<li class="workplace transition">
    <p class="workplace-name">
        Web
    </p>
    <div class="work-info">
        <p>
            Nginx, Apache
        </p>
        <p class="work-sub-info">
            Responsible Operator
        </p>
    </div>
</li>