.catalogue {
    &-item {
        border-bottom: 1px solid $grey-2;
        color: $default-color;
        display: inline-block;
        padding: 2rem 0;

        &:hover .catalogue-line,
        &:focus .catalogue-line {
            width: 5rem;
        }

        &:last-child {
            border: 0;
        }
    }

    &-time {
        color: $default-tint;
        font-family: $san-serif;
        letter-spacing: .5px;
    }

    &-title {
        color: $default-shade;
        display: block;
        font-family: $san-serif;
        font-size: 2rem;
        font-weight: 700;
        margin: .5rem 0;
    }

    &-line {
        @include transition(all .3s ease-out);
        border-top: .2rem solid $sub-tint-color;
        display: block;
        width: 2rem;
    }
    .catalogue-line{
        border-top: 0.2rem solid $main-color;
    }
    .catalogue-content {
        color : $catalogue-p-color;
    }
    .catalogue-time{
        font-size: 0.8em;
        font-weight: 200;
    }

    .catalogue-category{
        font-size: 1em;
        font-weight: 800;
        color: $main-color;
        margin-bottom: 0;
        font-family: 'Source Sans Pro';
        line-height: 1;
    }
}
