ul.post-list {
  margin: 20px;
  padding: 0;
  list-style-type: none;
  width: 48%;

  li.post-list-item {
    display: block;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid lightgray;
    &:last-child {
      border: none;
    }

    .post-list-item-title {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      font-family: $san-serif ;
      text-decoration: none;
      color: #212121;
      position: relative;


    }

    .post-list-item-date {
      font-size: 1rem;
      font-family: $san-serif ;
      margin-right: 1rem;
    }
  }
}