.pagination {
  border-top: .5px solid $grey-2;
  font-family: $san-serif;
  padding-top: 2rem;
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;

  span {
    color: $default-shade;
    font-size: 1.1rem;
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    display: inline-block;
    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
