---
layout: default
title: Post
description: 개인 공부하면서 작성한 글이라 잘못된 내용이 있을 수 있습니다. <br>잘못된 내용은 편하게 말씀해주시면 수정하겠습니다 :)
project-header: true

---

<div class="catalogue">
    {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
            <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
            <p class="catalogue-category">{{ post.categories | first }}</p>
            <h1 class="catalogue-title">{{ post.title }}</h1>

            <div class="catalogue-line"></div>

            <p class="catalogue-content">
                {{ post.content | strip_html | truncatewords: 30 }}
            </p>

        </div>
    </a>
    {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav class="pagination-container">
    <div class="pagination">
    {% if paginator.previous_page %}
        <a class="pagination-newer" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; PREV</a>
    {% endif %}
    {% if paginator.next_page %}
        <a class="pagination-older" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">NEXT &rarr;</a>
    {% endif %}
    </div>
</nav>
{% endif %}