---
layout: default
---


<ul class="post-list">
    {% assign category = page.category | default: page.title %}
    {% for post in site.categories[category] %}
    <li class="post-list-item">
        <span class="post-list-item-date">
            {{ post.date | date: '%Y. %m. %d' }} |
        </span>
        <a href={{site.url}}{{site.baseurl}}{{post.url}} >
            <span class="post-list-item-title">
                {{ post.title | truncate: 20 }}
            </span>
        </a>
    </li>
    {% endfor %}
</ul>